<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Información Medicamentos{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block header %}
    <header>
        <div class="contentHeader">
            <p>Elaboración de un sistema de PLN orientad a una tarea específica</p>
            <p>Modelos de Inteligencia Artificial</p>
        </div>
    </header>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
    <footer>
        <div class="aboutUs">
            <div class="titleFooter">
                <p>Esta página ha sido realizada por los siguientes miembros:</p>
            </div>
            <div class="contentFooter">
                <p>Virginia Ordoño Bernier<br>Jose Luis Pérez Lara<br>José Miguel Escribano Ruiz<br>Rosa Moreno López<br>Álvaro Cañas González</p>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>